tugas modul 5.json
{
  "name": "Tugas Modul 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1e46e485-68ff-4b32-9ccd-12de6af717dd",
      "name": "Telegram Trigger",
      "webhookId": "2e5af6f4-29dc-47e1-a5e9-0817cbd93a5c",
      "credentials": {
        "telegramApi": {
          "id": "vBFdnJwVr4jkZVMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an advanced Customer Service AI Agent for \"Toko Sejahtera\", a retail store located at Jalan Ir. Soekarno No.5, Tabanan, Bali (Phone: +6281394384508). Your primary job is to analyze incoming customer messages, categorize them, and respond strictly according to the rules below.\n\n### CATEGORIZATION & WORKFLOW RULES:\nAnalyze the incoming message and classify it into exactly ONE of these categories: \"harga\", \"promo\", \"bantuan\", \"komplain\", or \"lainnya\".\n\n1. CATEGORY: \"harga\"\n   - Trigger condition: The user asks about product prices, availability, or price lists.\n   - Action REQUIRED: You MUST always call the \"get prices tool\" to fetch the latest data from the Google Spreadsheet (https://docs.google.com/spreadsheets/d/1tv8oh1EXIYeUUTHff5mB5OfYXEqsl4yw-xhCqAvebh8/edit?usp=sharing) before answering. Never guess or rely on your internal knowledge for prices.\n   - Output Format: You MUST return a strict JSON object with this exact structure:\n     {\n       \"category\": \"harga\",\n       \"reply\": \"[Your response containing the accurate price details here]\"\n     }\n\n2. CATEGORY: \"lainnya\"\n   - Trigger condition: The message does not fit \"harga\", \"promo\", \"bantuan\", or \"komplain\" (e.g., general greetings, small talk, or general compliments).\n   - Action: Respond politely in Indonesian.\n   - Output Format: You MUST return a strict JSON object with this exact structure:\n     {\n       \"category\": \"lainnya\",\n       \"reply\": \"[Your polite Indonesian response here]\"\n     }\n\n3. CATEGORIES: \"promo\", \"bantuan\", or \"komplain\"\n   - Trigger condition: The message matches one of these specific topics.\n   - Action: DO NOT generate any text response for the user. Leave the \"reply\" field completely empty, as a Switch Node will handle these categories downstream.\n   - Output Format: You MUST return a strict JSON object with this exact structure:\n     {\n       \"category\": \"[Insert either \"promo\", \"bantuan\", or \"komplain\" here]\",\n       \"reply\": \"\"\n     }\n\n### CRITICAL OUTPUT CONSTRAINT: \n- Return ONLY the raw JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "cbfb124f-dfb1-44a9-bcc1-71215389288a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        176
      ],
      "id": "a11b5773-59ef-4bc0-934e-3d94dc19198a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hupIfMrbu8GqinHJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "02c95f68-8229-4c81-b0b0-4144c8a8a05c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "a808b455-4c3b-40cd-992a-85c946a05329",
      "name": "Send a text message",
      "webhookId": "b57b61ed-bd6d-4366-93c4-73078df9812b",
      "credentials": {
        "telegramApi": {
          "id": "vBFdnJwVr4jkZVMF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "d14a062f-14f3-472c-a1b0-85da88c14147",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "HdZhbJgW2f9XN0nO",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "harga",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ecb8b8d-b0ca-4afe-b192-5ebeddab04b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94444bce-05f8-4da9-b5be-5ce1851dc2e3",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "promo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7aea8260-7005-468e-b179-5fea7338dd68",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "bantuan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f6030fc-2e2f-42c6-b9f9-1313a06f2753",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "komplain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eeea4a02-8d9f-4c94-8bb8-6a25c73a0309",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "lainnya",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 4
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        -48
      ],
      "id": "9dbf9a1a-b43f-4ee6-afef-71d79ee5705e",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tv8oh1EXIYeUUTHff5mB5OfYXEqsl4yw-xhCqAvebh8",
          "mode": "list",
          "cachedResultName": "stok barang toko sejahtera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tv8oh1EXIYeUUTHff5mB5OfYXEqsl4yw-xhCqAvebh8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tv8oh1EXIYeUUTHff5mB5OfYXEqsl4yw-xhCqAvebh8/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        176
      ],
      "id": "5657bf20-d8ae-46c6-a75f-5a05ebe6e585",
      "name": "get prices tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LczMEkp6HAQswTc6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"harga\",\n  \"reply\": \"[Your response containing the accurate price details here]\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        176
      ],
      "id": "981b5049-00d8-4e78-ab09-023c71e4d84d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        288
      ],
      "id": "4af028d8-b2c3-400a-bbc7-8124c577f58c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "HdZhbJgW2f9XN0nO",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf548149-ce88-4b02-bf16-71c5c6dd1f77",
              "name": "output.reply",
              "value": "={{ $json.output.reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -288
      ],
      "id": "215ab6f5-c552-45d2-9eb2-06f1bcdbb266",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac04aa4-a080-42ba-bd3e-0a53205cd81a",
              "name": "output.reply",
              "value": "=Setiap anggota (member) Toko Sejahtera berhak mendapatkan potongan harga sebesar 5% untuk setiap transaksi dengan nilai pembelian di atas Rp 100.000.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -144
      ],
      "id": "8a0860f3-3b07-4382-8a67-70b997fed8f2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e181f9a-c33b-4ba1-9fc7-5bcd3e8eec88",
              "name": "output.reply",
              "value": "=Untuk bantuan, silahkan hubungi Customer service kami via WA di 081934384508, atau datang langsung ke Toko Sejahtera di Jalan Ir. Soekarno No.5, Tabanan, Bali",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "c8955320-31c4-4dda-887e-0282f239ed42",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44c89643-fcc2-4e6f-9bea-2f47a238ebd4",
              "name": "output.reply",
              "value": "=Mohon maaf atas ketidaknyamanan yang terjadi. Mohon sertakan data berikut untuk kami proses.\n1. Tanggal transaksi:\n2. Nomor nota transaksi:\n3. Isi keluhan:\n4. Nomor telepon(WA):",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        144
      ],
      "id": "a855a5fe-e16f-4fa3-b021-c5b34fcb7751",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2ce09fb-ed8d-461f-b4cc-731ee7727e5d",
              "name": "output.reply",
              "value": "={{ $json.output.reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        288
      ],
      "id": "b5170f7f-4f69-4ca3-93e2-cbb77c6091c7",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "get prices tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4a793922-dc8f-4237-bf7c-45449411e319",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "526f773943f53902e298061edb921aca5daea4cd0e419840eb0168d35c18df59"
  },
  "id": "kKRek6XVAhAoFah9",
  "tags": []
}